@{
  Layout = "_Layout";
}

@using SweetAndSavoryTreats.Models
@model SweetAndSavoryTreats.Models.Treat

<div class="row">
  <div class="col-5">
    <h4>Treat</h4>
    <p><strong>@Html.DisplayNameFor(chosenTreat => chosenTreat.Name)</strong>: @Html.DisplayFor(chosenTreat => chosenTreat.Name)</p>
  </div>
</div>
<hr/>

<p>@Html.ActionLink("Edit Treat Details", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat Entry", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to Treats List", "Index")</p>
