@{
  Layout = "_Layout";
}

@model SweetAndSavoryTreats.Models.Flavor

<p>Edit the details below and click Save to keep changes.<p>
<p>@Html.ValidationMessageFor(entry => entry.TagName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>  

@using (Html.BeginForm())
{
  @Html.HiddenFor(entry => entry.FlavorId)
  <p>@Html.LabelFor(entry => entry.TagName) @Html.EditorFor(entry => entry.TagName) <input type="submit" value="Save"/></p>
}

<hr/>

<p>@Html.ActionLink("Back to Flavor Tag Details", "Details", new { id = Model.FlavorId })</p>